rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
    	allow read: if request.auth != null && request.auth.uid == uid;
    	allow write: if request.auth != null && request.auth.uid == uid;
    }

    match /matches/{uid}/data/{matchId} {
    	allow read: if request.auth != null && request.auth.uid == uid;
    	allow write: if request.auth != null && request.auth.uid == uid;
    }

    match /builds/{document=**} {
      allow write: if request.auth != null && resource.data.publisher == request.auth.uid;
      allow read: if request.auth != null && resource.data.publisher == request.auth.uid;
      allow write: if request.auth != null && request.auth.uid == 'nOuk4lquYrXt4H2xafiZpPUFvN82';
      allow read: if request.auth != null && request.auth.uid == 'nOuk4lquYrXt4H2xafiZpPUFvN82';
    }

    match /published-builds/{document=**} {
      allow write: if request.auth != null && request.resource.data.publisher == request.auth.uid;
      allow delete: if request.auth != null && resource.data.publisher == request.auth.uid;
      allow read;
    	allow write: if request.auth != null && request.auth.uid == 'nOuk4lquYrXt4H2xafiZpPUFvN82';
    	allow delete: if request.auth != null && request.auth.uid == 'nOuk4lquYrXt4H2xafiZpPUFvN82';
    }
    
    match /leagues/{uid} {
    	allow read;
      allow write: if request.auth != null && request.auth.uid == 'nOuk4lquYrXt4H2xafiZpPUFvN82';
    	allow delete: if request.auth != null && request.auth.uid == 'nOuk4lquYrXt4H2xafiZpPUFvN82';
    }
    
    match /ratings/{document=**} {
      allow write: if request.auth != null && request.resource.data.user_id == request.auth.uid && request.resource.data.rating >= 1 && request.resource.data.rating <= 5;
      allow read: if request.auth != null && resource.data.user_id == request.auth.uid;
    }
    
    match /ratings-aggregate/{document=**} {
    	allow read;
    }
  }
}